<html lang="en-US">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">

</head>
<div id="login">

    <form name='form-login' #myForm="ngForm" (ngSubmit)="openModal('camera-feed')">
        <img src="../../assets/Logo_in_White-1.png" alt="Logo" title="Logo" width="250vh">
        <p></p>
        <span class="fontawesome-user"></span>
        <input type="text" id="ip" name="IP" [(ngModel)]="camera.IP" placeholder="IP">

        <span class="fontawesome-user"></span>
        <input type="number" id="port" name="port" [(ngModel)]="camera.port" placeholder="Port">

        <span class="fontawesome-user"></span>
        <input type="text" id="user" name="user" [(ngModel)]="camera.user" placeholder="Username">

        <span class="fontawesome-lock"></span>
        <input type="password" id="password" name="password" [(ngModel)]="camera.password" placeholder="Password">

        <input type="submit" [disabled]="!camera.IP ||!camera.port" value="Open camera feed">
    </form>

    <jw-modal id="camera-feed">
        <h1>Camera feed:</h1>
        <app-camera-feed></app-camera-feed>
        <p></p>
        <button (click)="closeModal('camera-feed');">Close</button>
    </jw-modal>